@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

html {
  @apply font-sans;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
