@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

html {
  @apply font-plus-jakarta-sans;
}
